@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;

  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  .checkout-form h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .checkout-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .checkout-form input,
  .checkout-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .checkout-form .checkout {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  .checkout-form .delete {
    background-color: #e50914;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .checkout-form button:hover {
    background-color: #0062cc;
  }
  
  .required{
    color: #e50914;
  }
  /* Media Queries for responsiveness */
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
    }
  }